aiofiles==0.8.0
anyio==3.5.0
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
fastapi==0.70.1
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore==0.14.5
httptools==0.2.0
httpx==0.21.3
hyperframe==6.0.1
idna==3.3
loguru==0.5.3
multidict==5.2.0
pydantic==1.9.0
pygtrie==2.4.2
python-dotenv==0.19.2
PyYAML==6.0
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.16.0
tomlkit==0.7.2
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.1
yarl==1.7.2
pymysql==1.0.2
websocket==0.2.1
websocket-client==1.5.2
Telethon==1.28.5
